/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 60px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
   box-shadow: 0px 500px 0px 500px #f5f5f5;
}

.watering{
  margin : 20px;
}
.btn{
  margin: 5px;
}

footer {
    padding: 25px;
    text-align: center;
    background-color: #fed136;
    width: 100%;
    bottom: 0
}

td {
  text-align: center;
}

th {
  text-align: center;
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136
}

footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

.gaugeCompass {
  margin-left: 50px
}

#cube .left,
#cube .right {
  background: url('/img/windreflect.jpg') 0px 0px;
  width: 421px;
  height: 213px;
}

#cube .front {
  background: url('/img/wnd.jpg') 0px 0px;
  width: 421px;
  height: 213px;
}
#cube .back {
  background: url('/img/windreflect.jpg') 0px 0px;
  width: 421px;
  height: 213px;
}

#cube .bottom { background: rgba(0,0,0,0.0); }
#cube .top { background: rgba(0,0,0,0.0); }